{% form_theme userdetailsForm 'bootstrap_5_layout.html.twig' %}

{% extends "base.html.twig" %}

{% block body %}
<div class="container col-md-4 text-center mt-5">
   <div class="card p-3 bg-light">
      <h3 class="alert alert-primary">Add User</h3>
        {{ form_start(userdetailsForm) }}
        {{ form_widget(userdetailsForm)}}
        <input class="btn btn-outline-danger" type="submit" value="Create">
      {{ form_end(userdetailsForm) }}

  </div>
</div>
{% endblock %}