{% form_theme userForm 'bootstrap_5_layout.html.twig' %}
{% extends "base.html.twig" %}

{% block body %}
<div class="container col-md-4 text-center mt-3">
   <div class="card p-3 bg-light">
      <h3 class="alert alert-primary">Edit student</h3>
      {{ form_start(userForm) }}
         
      {{ form_widget(userForm)}}
      <input class="btn btn-outline-danger" type="submit" value="Edit">

      {{ form_end(userForm) }}
   </div>
</div>
{% endblock %}